[mariadbd]
port=3306
basedir="C:/Users/danny/AppData/Local/com.tinyapp.DBngin/Binaries/mariadb/10.11.11"
datadir="D:/Dev/SWE30003-A3/app/src/server/db"
plugin-dir="C:/Users/danny/AppData/Local/com.tinyapp.DBngin/Binaries/mariadb/10.11.11/lib/plugin"
log-error="D:/Dev/SWE30003-A3/app/src/server/db/mariadbd.local.err"
pid-file="D:/Dev/SWE30003-A3/app/src/server/db/mariadb.pid"
socket=""
skip-log-bin

